html,body {
    overflow: hidden;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background: black;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: large;
}
h1{
    color: #ffffff;
    text-decoration: none;
    font-size: large;
}

label{
    font-size: large;
}

ul,li{
    font-size: large;
}

.clock {
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 40%;
    color: #ffffff;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 7px;
   


}

.button{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



#wallpaper{
        height:100%;
        background-image: url('../assets/background.svg');
        background-size: 100%;
        background-position: 90% 100%;
        background-repeat: no-repeat;
}

